@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Georgian:100,200,300,regular,500,600,700,800,900);
@import './mixin' ;
@font-face {
	font-family: "ArialItalic";
	src: url("../fonts/ArialItalic/ArialItalic.eot");
	src: url("../fonts/ArialItalic/ArialItalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/ArialItalic/ArialItalic.woff") format("woff"),
		url("../fonts/ArialItalic/ArialItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "ArialRegular";
	src: url("../fonts/ArialRegular/ArialRegular.eot");
	src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/ArialRegular/ArialRegular.woff") format("woff"),
		url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@import "nullstyle.scss";

// переменные
$fontFamily: "Noto+Sans+Georgian";
html {
	scroll-behavior: smooth;
}
.wrapper {
	
	display: flex;
	
	
	max-width: 120rem;
	width: 100%;
	margin: 0 auto;
	// flex: 1 1 auto;
}


.header {
	position: absolute;
	width: 100%;
	z-index: 50;
	// .header__container
	// margin-top: 4rem;
	&__container {
		display: flex;
		// max-height: 6rem;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		max-width: 120rem;
		padding-top: 6rem;
	}

	// .header__logo

	// .header__menu

	&__menu {
		flex: 1 1 auto;
	}
}

.logo {
	display: flex;
	flex-direction: column;
	height: 6rem;
	width: 18.4rem;
	align-content: space-between;
	cursor: pointer;

	// .logo__title

	&__title {
		font-family: "Georgia";
		font-style: normal;
		font-weight: 400;
		font-size: 3.2rem;
		line-height: 110%;
		color: #f1cdb3;
		letter-spacing: 0.05em;
	}

	// .logo__desc

	&__desc {
		font-family: "Arial";
		font-style: normal;
		font-weight: 400;
		font-size: 1.3rem;
		line-height: 1.5rem;
		letter-spacing: 0.09em;
		padding-top: 1rem;
		padding-left: 5px;
		color: #ffff;
	}
}
.menu {
	display: flex;
	justify-content: flex-end;
	// .menu__list

	&__list {
		display: flex;
		gap: 3.6rem;
		a {
			color: #cdcdcd;
		}
	}

	// .menu__item

	font-family: Arial;
	font-size: 1.5rem;
	font-style: normal;
	color: #cdcdcd;
	line-height: 160%;
}

.activ {
	a{
		position: relative;
	&:before{
   	content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: -6px;
      background-color: #f1cdb3;
		}
	}
	
	// span {
	// 	width: 11.4rem;
	// 	height: 0.3rem;
	// 	border-bottom: 3px #f1cdb3 solid;
	// 	position: absolute;

	// 	top: 10rem;

	// 	left: 83rem;
	// }
}

.main {
	flex: 1 1 auto;
	position: relative;
	height: 91rem;

	background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);

	// .main__screen

	&__screen {
		height: 72.8rem;
		display: flex;
		margin-top: 18rem;
		padding-right: 6rem;
		color: #f7f5f3;
		
		
	}

	// .main__content

	&__content {
		padding-right: 6rem;
	}

	// .main__puppy

	&__puppy {
		
		// margin: -1.8rem;
		
		margin-right: -12rem;
	}
}
.item-main {
	width: 460px;
	// height: 322px;
	// left: 0px;
	// top: 163px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 16.3rem;

	// .item-main__title

	&__title {
		width: 31rem;
		// height: 11.4rem;
		left: calc(50% - 31rem / 2 - 7.5rem);
		bottom: 20.8rem;
		font-family: "Georgia";
		font-style: normal;
		font-weight: 400;
		font-size: 4.4rem;
		line-height: 130%;
		color: #ffff;
		padding-bottom: 4rem;
	}

	// .item-main__text

	&__text {
		width: 46rem;
		height: 7.2rem;
		left: calc(50% - 46rem / 2);
		bottom: 9.4rem;
		padding-bottom: 11.5rem;

		color: #cdcdcd;

		font-family: "Arial";
		font-style: normal;
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 160%;
	}

	// .item-main__button

	&__button {
		margin-left: -0.2rem;
		&:hover {
			background: #ffffff;
			border: 3px solid #f1cdb3;
		}
	}
}
.button {
	background: #f1cdb3;
	// border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 10rem;
	font-family: "Georgia";
	font-style: normal;
	font-weight: 400;
	font-size: 1.7rem;
	letter-spacing: 0.06em;
	width: 20.7rem;
	height: 5.2rem;
}

.about {
	// height: 58.8rem;
	left: 0%;
	right: 0%;

	background: #ffffff;
	display: flex;
	align-items: center;
	// .about__cont

	&__cont {
		// height: 40.8rem;
		display: flex;
		// justify-content: center;
		width: 100%;
		max-width: 120rem;
		margin: 0 auto;
		padding-top: 8rem;
		padding-bottom: 10rem;
	}

	// .about__pets

	&__petis {
		width: 30rem;
		padding-right: 300px;
		padding-left: 175px;
	}

	// .about__content

	&__content {
		padding-left: 175px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-left: 12rem;
		height: 38rem;
		width: 46%;
	}

	// .about__title

	&__title {
		width: 37rem;
		padding-top: 1rem;
		margin-top: 0.3rem;
	}

	// .about__desc
	&__descp {
		margin-top: -2.1rem;
		font-family: "Arial";
		font-style: normal;
		font-weight: 400;

		font-size: 1.5rem;
		line-height: 160%;
		color: #4c4c4c;
		padding-top: 4.6rem;
	}

	&__desc {
		font-family: "Arial";
		font-style: normal;
		font-weight: 400;

		font-size: 1.5rem;
		line-height: 160%;
		color: #4c4c4c;
		margin-top: 2.3rem;
	}
}
.title {
	font-family: "Georgia";
	font-style: normal;
	font-weight: 400;
	font-size: 3.5rem;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #545454;
}

.pets {
	height: 87.7rem;
	// max-width: 128rem;
	width: 100%;
	align-items: center;

	// display: flex;
	background-color: #f6f6f6;

	// .pets__content
	&__content {
		height: 69.7rem;
		max-width: 120rem;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 8rem;
	}

	// .pets__title

	&__title {
		margin: 0 auto;
		width: 40rem;
		height: 9rem;
		text-align: center;
	}

	// .pets__slider

	&__slider {
		display: flex;
		justify-content: space-between;
		max-width: 120rem;

		height: 43.5rem;
		// margin-top: 10rem;
		z-index: 50;
	}

	// .pets__btn

	&__btn {
		margin-top: 19rem;
		cursor: pointer;
		&:hover {
			height: 5.2rem;
			background: #f1cdb3;
			border-radius: 10rem;
		}
	}

	// .pets__text

	&__text {
		margin: 0 auto;
	}

	// .pets__bott

	&__bott {
		width: 18.7rem;
		height: 5.2rem;
	}

	// .pets__button

	&__button {
		margin: 0 auto;
		width: 26.1rem;
		height: 5.2rem;
		border: none;
		cursor: pointer;
		align-items: center;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #292929;
		&:hover {
			background: #ffff;
			border: 2px solid #f1cdb3;
		}
	}
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	background: #fafafa;
}

.car {
	display: flex;
	justify-content: space-between;
	width: 99rem;
	margin: 0 5rem;
}
.car-slid {
	width: 27rem;
	height: 43.5rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	&:hover {
		box-shadow: 5px 5px 7px rgb(0 0 0 / 35%);
	}

	// .car-slid__img

	// .car-slid__text

	&__text {
		font-size: 2rem;
		font-family: "Georgia";
		font-style: normal;
		font-weight: 400;

		line-height: 23px;

		align-items: center;
		text-align: center;
		letter-spacing: 0.06em;

		/* color-dark-l */

		color: #545454;
	}

	// .car-slid__bott

	&__bott {
		width: 18.7rem;
		height: 5.2rem;
		border: 2px solid #f1cdb3;
		background-color: #fafafa;
		border-radius: 10rem;
		font-family: "Georgia";
		font-style: normal;
		font-weight: 400;
		font-size: 1.7rem;
		line-height: 130%;
		margin: 0 auto;
		margin-bottom: 3.2rem;
		letter-spacing: 0.06em;
		color: #292929;
		&:hover {
			background: #f1cdb3;
		}
	}
}

.help {
	height: 61.1rem;
	width: 100%;

	// .help__content

	&__content {
		width: 120rem;
		height: 43.1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 auto;
		margin-top: 8rem;
	}

	// .help__title

	&__title {
		text-align: center;
	}

	// .help__list

	&__list {
		
		height: 28.1rem;
		margin: 0 auto;
		display: flex;
		// flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
	}

	// .help__items

	// &__items {
	// 	display: flex;
	// 	flex-wrap: wrap;
   //    justify-content: center;
	// }

	// .help__item

	// &__item {
	// 	display: flex;
	// 	justify-content: space-around;
	// 	padding-left: 2.1rem;
	// 	padding-right: 2.2rem;
	// }
}

.cards {
	height: 11.3rem;
	text-align: center;
	justify-content: space-between;
	align-items: center;
	margin: 0 60px 55px 60px;
	flex-direction: column;

	img {
		height: 6rem;
		width: 6rem;
		margin-bottom: 2.8rem;
	}
	h4 {
		font-family: "Georgia";
		font-style: normal;
		font-weight: 400;
		font-size: 2rem;
		line-height: 115%;
		align-items: center;
		text-align: center;
		letter-spacing: 0.06em;
		color: #545454;
	}
}

.donatoin {
	height: 46rem;
	background: #f6f6f6;
	padding-top: 8rem;
	// .donatoin__content

	&__content {
		width: 91.5rem;
		height: 28.2rem;

		display: flex;
		margin: 0 auto;
		justify-content: space-between;
		align-items: center;
	}

	// .donatoin__dog

	&__dog {
		width: 50.5rem;
		height: 26.1rem;
	}

	// .donatoin__contents

	&__contents {
		width: 38rem;
		height: 28.2rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		justify-content: space-between;

		h5 {
			font-family: "Georgia";
			font-style: normal;
			font-weight: 400;
			font-size: 1.5rem;
			line-height: 110%;
			align-items: center;
			letter-spacing: 0.06em;

			color: #545454;
		}
	}
}
.contents {
	// .contents__title

	// .contents__input

	&__input {
		width: 34.9rem;
		height: 4.3rem;
		border-radius: 0.9rem;
		background: #f1cdb3;
		align-items: center;
		position: relative;
	}

	// .contents__desc

	&__desc {
		font-family: "Arial";
		font-style: italic;
		font-weight: 400;
		font-size: 1.2rem;
		line-height: 1.8rem;

		align-items: center;

		color: #b2b2b2;
	}
}
.number {
	display: flex;
	position: absolute;
	top: 0;

	bottom: 0;
	align-items: center;

	left: 1.5rem;
	h4 {
		font-family: "Georgia";
		font-style: normal;
		font-weight: 400;
		font-size: 2rem;
		line-height: 115%;

		align-items: center;
		letter-spacing: 0.06em;

		color: #545454;
	}
	img {
		width: 30px;
		height: 23px;
		margin-right: 1.5rem;
	}
}

.input {
	// .input__cardi

	&__cardi {
		position: relative;
	}
}

.footer {
	height: 35rem;
	background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
	// .footer__content
&__wrap{
	display: flex;
	width: 740px;
    justify-content: space-between;
}
	&__content {
		width: 120rem;
		
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		padding-top: 4rem;
	}

	// .footer__contacts

	&__contacts {
		width: 27.9rem;
		height: 23.4rem;
		position: relative;
		display: flex;
		margin-top: 1.6rem;
		h4 {
			font-family: "Georgia";
			font-style: normal;
			font-weight: 400;
			font-size: 2rem;
			line-height: 115%;
			letter-spacing: 0.06em;
			color: #f1cdb3;
			margin-left: 2rem;
		}
	}

	// .footer__puppy
}

.footer {
	// .footer__contacts

	.two {
		width: 30.2rem;
		height: 23.4rem;
	}

	.img {
		position: absolute;
		display: flex;
		align-items: center;
	}
	.one {
		width: 4rem;
		height: 2.6rem;
		top: 13rem;
	}
	.too {
		width: 100%;
		height: 3.2rem;
		top: 20rem;
	}
	.three {
		width: 100%;
		top: 13rem;
		height: 3.2rem;
	}
	.four {
		width: 100%;
		top: 20rem;
		height: 3.2rem;
	}
	.titl {
		color: #ffffff;
	}
}

@import './media'